node_modules
dist
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.yarn
architecture-report-theory.md
architecture-report.md
cloud-kis-report.md
diplom-mind-map.xmind
flow.md
practice-testing-report.md
roadmap.md
scripts